.app-container {
  background-color: #ffd569;
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.app-card {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:60%;
}

@media screen and (max-width:767px){
  .app-card{
    width:95%;
    padding:20px;
  }
}

.head {
  color: #000000;
  margin-bottom: 30px;
  font-size:30px;
  text-align: center;
}

@media screen and (max-width:767px){
  .head{
    font-size:22px;
  }
}

.count {
  color: #ffd569;
}

.fruits-container {
  display: flex;
}

@media screen and (max-width:767px){
  .fruits-container{
    flex-direction: column;
  }
}

.fruit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #007bff;
  border: none 0px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
  font-size: 12px;
}

@media screen and (max-width:767px){
  .button{
    font-size:18px;
  }
}

.images {
  width: 40%;
  margin-bottom: 20px;
}

@media screen and (max-width:767px){
  .images{
    width:60%;
  }
}