* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #f4faff;
  font-family: 'Roboto';
}
.content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.head {
  color: #171f46;
  font-size:35px;
  text-align: center;
}
.para {
  text-align: center;
  color: #64748b;
  font-size:16px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
}
