.cart-container {
    min-height: 100vh;
  }
  
  .cart-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }
  
  .cart-image {
    width: 15%;
  }
  
  @media screen and (max-width: 767px) {
    .cart-image {
      width: 40%;
    }
  }
  