.products-header {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .products-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.products-heading {
  color: #475569;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-filter-container {
  display: flex;
  align-items: center;
}

.sort-by-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  color: #475569;
}

.sort-text {
  color: #475569;
  font-size: 14px;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .sort-text {
    font-size: 16px;
  }
}

.filter-select-element {
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #475569;
  outline: none;
}

.option-style {
  font-size: 14px;
}
